* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 50px;
    background: #325182;
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: center;
    padding-bottom: 20px;
}

.title {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    
}

.title h1 {
    font-weight: 700;
    text-shadow: 1px 1px #CCC;
}

.subtitle {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

.slider {
    flex: 1;
    overflow: hidden;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
}