* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.icons a {
    color: #325182;
    text-decoration: none;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 5px;
}

nav ul {
    display: flex;
}


/* PARTES DO SLIDE */

.slider {
    flex: 1;
    overflow: hidden;
}

.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item {
    width: 100vw;
    height: inherit;
    background-position: center;
    background-size: cover;
}

.slider--controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider--control {
    width: 50px;
    height: 50px;
    background-color: #FFF;
    border-radius: 50%;
    overflow: hidden;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* SECTION RETANTE DO SITE */

.text {
    padding: 30px 0;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

/* TEXTO PRINCIPAL */

.text {
    padding: 30px 0;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

.legend {
    font-size:10px;
    font-style: italic;
    text-align: right;
    font-weight: 700;
    padding-bottom: 32px;
}

/* SECÃO DE FOTOS DO SITE */

#banner {
    display: flex;
    padding: 20px 0;
}

.photo_1 {
    max-width: 100%;
    margin-right: 10px;
}

.photo_1:last-child {
    margin-right: 0;
}

.photo_1 img {
    width: 100%;
    max-width: 350px;
    height: 220px;
}

/* SEÇÃO TIME LINE LADO ESQUERDO */

.sob {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sob_textleft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.widget {
    flex: 1;
    width: 480px;
    background: #C8C8C8;
    margin-bottom: 37px;
    padding-bottom: 20px;
}

.widget_title {
    flex: 1;
    margin-top: 1x;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    font-weight: 700;
    text-align: right;
    font-size: 27px;
    color: #CB7222;
}

.widget_text {
    flex: 1;
    text-align: center;
    border-right: 5px solid #042C57;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 6px;
}

.widget_bar {
    padding: 3px;
    background-color: #042C57;
    padding-top: 41px;
    width: 0px;
}

.widget_text2 {
    flex: 1;
    border-right: 5px solid #042C57;
    margin-right: 20px;
    text-align: center;
    background: #C8C8C8;
    margin-bottom: -24px;
}

.text1 {
    padding: 10px 0;
    text-align: center;
    color: #000000;
    font-weight: 700;
}

.text1 h1 {
    font-weight: 700;
    font-size: 30px;
}

.text1 p {
    font-size: 15px;
    margin-bottom: 10px;
}

/* SEÇÃO TIME LINE PARTE DIREITA */

.sob_textright {
    flex: 1;
    background: #325182;
    padding: 10px;
}

.widgetright {
    flex: 1;
    width: 480px;
    background: #325182;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.widget_titleright {
    flex: 1;
    margin-bottom: 21px;
    padding-top: 8px;
    margin-left: 4px;
    font-weight: 700;
    text-align: left;
    font-size: 27px;
    color: #CB7222;
}

.widget_description {
    border-left: 5px solid #C8C8C8;
    margin-right: 39px;
    text-align: center;
    margin-bottom: 6px;
    color: #FFF;
}

.widget_description1 {
    border-left: 5px solid #C8C8C8;
    margin-right: 39px;
    text-align: center;
    margin-bottom: 6px;
    color: #FFF;
}

.widget_description2 {
    border-left: 5px solid #C8C8C8;
    margin-right: 39px;
    text-align: center;
    margin-bottom: 6px;
    color: #FFF;
} 

.widget_description3 {
    border-left: 5px solid #C8C8C8;
    margin-right: 39px;
    text-align: center;
    margin-bottom: 6px;
    color: #FFF;
}

.widget_description4 {
    border-left: 5px solid #C8C8C8;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 6px;
    color: #FFF;
} 

/* RODAPÉ */

.footer_cop {
    font-weight: 700;
    border-top: 1px solid #042C57;
    padding-top: 5px;
    line-height: 40px;
    color: #CB7222;
    font-size: 12px;
    margin-top: 8px;
    border-bottom: 1px solid #042C57;
    display: flex;
    justify-content: center;
}

.informations {
    padding-top: 107px;
}

.informations a {
    text-decoration: none;
    color: #042C57;
}